[DEFAULT]
ssh_user=admin
post_provision=https://example.org/bootstrap.sh
authorized_keys=https://example.org/authorized_keys
run_url=https://depenguin.me/run.sh
image_url=https://depenguin.me/files/mfsbsd-14.0-RELEASE-amd64.iso

[hetzner]
api_user=#ws+myuser
